<!doctype html>
<html id="ng-app" data-ng-app="weatherApp">
<head>

</head>

<body>
  <h1> this is the {{'weather' + '!'}} </h1>

  <div data-ui-view></div>


  <script src="_weather/core.js"></script>
  <script src="_weather/common.js"></script>
  <script src="_weather/features.js"></script>
  <!--<script src="_weather/common.js"></script>-->
</body>

</html>
